<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
		<script src="/static/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/flexible.js" type="text/javascript" charset="utf-8"></script>
		<title>注册</title>
	</head>
	<style type="text/css">
		.box{
			width: 100%;
            height: 12rem;
            background-color: #ccc;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
		}
		.zhuce{
			width: 7rem;
			margin: 1rem auto;
			text-align: center;
			
		}
		.denglu{
			width: 7rem;
			margin: 1rem auto;
			text-align: center;
			display: none;
		}
	</style>
	<body>
		<div class="box">
			<div class="zhuce">
				<p><span>工号:</span><input type="text" id="gonghao" value="" /></p>
				<p><span>姓名:</span><input type="text" id="xinming" value="郑富勇" disabled="disabled"/></p>
				<p><span>密码:</span><input type="password" id="mima" value="" /></p>
				<p><span>密码:</span><input type="password" id="mima2" value="" /></p>
				<input type="button" id="zhuce" value="注册" />
			</div>
			<div class="denglu">
				<p><span>工号：</span><input type="text" id="dgonghao" value="" /></p>
				<p><span>密码：</span><input type="text" id="dmima" value="" /></p>
				<input type="button" id="denglu" value="登陆" />
			</div>
		</div>
		<script type="text/javascript">
			$("#gonghao").blur(function(){
				$.ajax({
				type: "GET", //用POST方式传输
				url:'/hzxi/register/', //目标地址ss
				dataType: "JSON", //数据格式:JSON
				data: {
				    u_pid:$("#gonghao").val()
				},
				success: function(data) {
					if(data.status=="OK"){
						$("#xinming").val(data.u_name);
					}else{
						alert(data.msg);
					}
					
				}
				})
			})
			/*点击注册*/
			$("body").on("click","#zhuce",function(){

			    var gh=$("#gonghao").val();
				var name=$("#xinming").val();
				var paw=$("#mima").val();
				var paw2=$("#mima2").val();
				// console.log(sjh);
				
				if(gh!==""&&paw!==""&&paw2!==""){
					if(paw==paw2){
						$.ajax({
						type: "POST", //用POST方式传输
						url: '/hzxi/register/', //目标地址
						dataType: "JSON", //数据格式:JSON
						data: JSON.stringify({
							u_pid:gh,
							u_name:name,
							u_pwd:paw,
							// csrftoken:$.cookie('the_cookie')['csrftoken'],
							
						}),
						success: function(data) {

				           console.log(data);
				           if(data.status=='OK'){
				           	localStorage.setItem("u_pid",data.data);
				           	alert("注册成功");
				           	$(".zhuce").css('display','none');
				           	$(".denglu").css('display','block');
				           }else{
				           	alert(data.msg);
				           }
						}
					});
					}else{
						alert("两次密码输入不一致");
					}
				}else{
					alert("请将输入填写完整");
				}
			})
			 /*登录*/
			$("body").on("click","#denglu",function(){
				var dgh=$("#dgonghao").val();
				var dpaw=$("#dmima").val();
				if(dgh!==""&&dpaw!==""){
					$.ajax({
					type: "POST", //用POST方式传输
					url:'/hzxi/login/', //目标地址
					dataType: "json", //数据格式:JSON
					data: JSON.stringify({
						u_pid:dgh,
						u_pwd:dpaw
					}),
					success: function(data) {
						if(data.status=="OK"){
							alert("登录成功");
	//						window.location.href="index.html";
						}else{
							alert(data.msg);
						}
						
					}
					})
				}else{
					alert("请将输入填写完整");
				}
			});
		</script>
	</body>
</html>
