<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/web/font/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="/static/web/css/index.css"/>
		<script src="/static/web/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/web/js/flexible.js" type="text/javascript" charset="utf-8"></script>
		<title>首页</title>
	</head>
	<body>
		<div class="top">
			<div class="top_top">
				<div>
				<p>登陆|注册</p>
				<p><input type="text" id="" placeholder="请输入搜索关键词" /><i class="iconfont icon-fangdajing"></i></p>
				</div>
			</div>
			<div class="top_conter">
				<!--<div class="tupian">
					<img src="img/22_02.jpg"/>
				</div>-->
				<div class="biaoti">
					<p><img src="/static/web/img/11.png"/></p>
				</div>
				<div class="wenzi">
					<p>哈尔滨西站职教信息管理平台</p>
				</div>
			</div>
			<div class="top_dibu">
				<div class="nav">
					<p class="cur">首页</p>
					<p>演练模块</p>
					<p>考核模块</p>
					<p>培训模块</p>
					<p>作业模块</p>
					<p>综合展示</p>
					<p>个人中心</p>
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>
		<div class="center">
			<div class="center_top">
				<div class="left">
					<h5><img src="/static/web/img/tubiao_03.png"/>哈尔滨西站铁路局职教科<span>MORE>></span></h5>
					<div class="biaotou">
						<p>科室</p>
						<p>姓名</p>
					</div>
					<div class="keshi">
						<div class="keleft fl">
							<div class="neirong">
								<p>**科</p>
								<p>**科</p>
								<p>**科</p>
								<p>**科</p>
								<p>**科</p>
								<p>**科</p>
								<p>**科</p>
								<p>**科</p>
								<p>**科</p>
								<p>**科</p>
								<p>**科</p>
								<p>**科</p>
								<p>**科</p>
								<p>**科</p>
								<p>**科</p>
								<p>**科</p>
								<p>**科</p>
								<p>**科</p>
							</div>
						</div>
						<div class="xingmin fl">
							<div class="neirong">
								<p>***</p>
								<p>***</p>
								<p>***</p>
								<p>***</p>
								<p>***</p>
								<p>***</p>
								<p>***</p>
								<p>***</p>
								<p>***</p>
								<p>***</p>
								<p>***</p>
								<p>***</p>
								<p>***</p>
								<p>***</p>
								<p>***</p>
								<p>***</p>
								<p>***</p>
								<p>***</p>
								<p>***</p>
								<p>***</p>
							</div>
						</div>
					</div>
				</div>
				<div class="right">
					<div class="right-top">
						<p>演练历史</p>
						<p>培训历史</p>
						<p>考核历史</p>
					</div>
					<div class="right-zhong on">
						<p><img src="/static/web/img/fangkuai_31.png"/>无电务人员车站开启和关闭道岔融雪装置     限时2小时<span>2018-12-25</span></p>
						<p><img src="/static/web/img/fangkuai_31.png"/>无电务人员车站开启和关闭道岔融雪装置     限时2小时<span>2018-12-25</span></p>
						<p><img src="/static/web/img/fangkuai_31.png"/>无电务人员车站开启和关闭道岔融雪装置     限时2小时<span>2018-12-25</span></p>
						<p><img src="/static/web/img/fangkuai_31.png"/>无电务人员车站开启和关闭道岔融雪装置     限时2小时<span>2018-12-25</span></p>
						<p><img src="/static/web/img/fangkuai_31.png"/>无电务人员车站开启和关闭道岔融雪装置     限时2小时<span>2018-12-25</span></p>
						<p><img src="/static/web/img/fangkuai_31.png"/>无电务人员车站开启和关闭道岔融雪装置     限时2小时<span>2018-12-25</span></p>
						<p><img src="/static/web/img/fangkuai_31.png"/>无电务人员车站开启和关闭道岔融雪装置     限时2小时<span>2018-12-25</span></p>
					</div>
				</div>
			</div>
			<div class="center-center">
				<div class="left">
					<h5><img src="/static/web/img/tubiao_03.png"/>综合简介<span>MORE>></span></h5>
					<div class="left-center">
						<p><span>演练</span><img src="/static/web/img/tongji_20.png"/></p>
						<p><span>培训</span><img src="/static/web/img/tongji_20.png"/></p>
						<p><span>考核</span><img src="/static/web/img/tongji_20.png"/></p>
						<p><span>作业</span><img src="/static/web/img/tongji_20.png"/></p>
					</div>
				</div>
				<div class="right">
					<h5><img src="/static/web/img/tubiao_03.png"/>最新演练、培训、考核、作业<span>MORE>></span></h5>
					<div class="right-center">
						<p><img src="/static/web/img/fangkuai_31.png"/>xxx科      李某某                      无电务人员车站开启和关闭道岔融雪装置       ...<span>2018-12-25</span></p>
						<p><img src="/static/web/img/fangkuai_31.png"/>xxx科      李某某                      无电务人员车站开启和关闭道岔融雪装置       ...<span>2018-12-25</span></p>
						<p><img src="/static/web/img/fangkuai_31.png"/>xxx科      李某某                      无电务人员车站开启和关闭道岔融雪装置       ...<span>2018-12-25</span></p>
						<p><img src="/static/web/img/fangkuai_31.png"/>xxx科      李某某                      无电务人员车站开启和关闭道岔融雪装置       ...<span>2018-12-25</span></p>
						<p><img src="/static/web/img/fangkuai_31.png"/>xxx科      李某某                      无电务人员车站开启和关闭道岔融雪装置       ...<span>2018-12-25</span></p>
						<p><img src="/static/web/img/fangkuai_31.png"/>xxx科      李某某                      无电务人员车站开启和关闭道岔融雪装置       ...<span>2018-12-25</span></p>
						<p><img src="/static/web/img/fangkuai_31.png"/>xxx科      李某某                      无电务人员车站开启和关闭道岔融雪装置       ...<span>2018-12-25</span></p>
					</div>
				</div>
			</div>
			<div class="center-footer">
				<div class="center-footer-box">
					<h5><img src="/static/web/img/tubiao_03.png"/>优秀员工<span>MORE>></span></h5>
				</div>
				<div class="center-footer-box2">
					<div>
						<img src="/static/web/img/touxiang_07.png"/>
						<p>李某某</p>
					</div>
					<div>
						<img src="/static/web/img/touxiang_07.png"/>
						<p>李某某</p>
					</div>
					<div>
						<img src="/static/web/img/touxiang_07.png"/>
						<p>李某某</p>
					</div>
					<div>
						<img src="/static/web/img/touxiang_07.png"/>
						<p>李某某</p>
					</div>
					<div>
						<img src="/static/web/img/touxiang_07.png"/>
						<p>李某某</p>
					</div>
					<div>
						<img src="/static/web/img/touxiang_07.png"/>
						<p>李某某</p>
					</div>
					<div>
						<img src="/static/web/img/touxiang_07.png"/>
						<p>李某某</p>
					</div>
					<div>
						<img src="/static/web/img/touxiang_07.png"/>
						<p>李某某</p>
					</div>
					<div>
						<img src="/static/web/img/touxiang_07.png"/>
						<p>李某某</p>s
					</div>
					<div>
						<img src="/static/web/img/touxiang_07.png"/>
						<p>李某某</p>
					</div>
				</div>
			</div>
		</div>
		<!--<script src="js/index.js" type="text/javascript" charset="utf-8"></script>-->
		<script type="text/javascript">
		/*科室人员首次页面*/
			$(".keleft div p:first-child").addClass('cul');
			$(".right-top p:first-child").addClass('cur');
			$.ajax({
				type: "GET", //用POST方式传输
				url:'192.168.0.103:80' + '/hzxi/user/management/', //目标地址
				dataType: "JSON", //数据格式:JSON
				data: {
//					contains:JSON.stringify({}),
				    fields:JSON.stringify('u_section u_name u_id'),
//				    limit:JSON.stringify(8),
//				    page:JSON.stringify(0),
//				    desc:JSON.stringify('')
//					u_u_section:JSON.stringify($(".keleft div p:first-child").html())
				},
				success: function(data) {
				if(data.status== 'OK'){
					var html="";
					// for(var i=0; i<length;i++){
					// 	$(".keleft .neirong").html('<p>***</p>')
					// }
				}else{
					alert(data.msg);
				}
				}
			})			
			/*点击科室人员变化*/
			$(".keleft div p").click(function(){
				$.ajax({
				type: "GET", //用POST方式传输
				url:'192.168.0.103:80' + '/hzxi/user/management/', //目标地址
				dataType: "JSON", //数据格式:JSON
				data: {
					contains:JSON.stringify({}),
				    fields:JSON.stringify('u_name u_id'),
//				    limit:JSON.stringify(8),
//				    page:JSON.stringify(0),
//				    desc:JSON.stringify('')
					u_u_section:JSON.stringify($(this).html())
				},
				success: function(data) {
				if(data.status== 'OK'){
					// for(var i=0; i<length;i++){
					// 	$(".xingmin .neirong").html('<p>**科</p>')
					// }
				}else{
					alert(data.msg);
				}
				}
			})
			})
		/*历史详情首次页面*/
		$.ajax({
				type: "GET", //用POST方式传输
				url:'192.168.0.103:80' +'/hzxi/user/manoeuvre/', //目标地址s
				dataType: "JSON", //数据格式:JSON
				data: {
						contions:JSON.stringify({'y_finished': '0'}),
					    fields:JSON.stringify('y_id y_content y_createtime'),
					    limit:JSON.stringify('7'),
	//				    page:JSON.stringify(0),
	//				    desc:JSON.stringify('')
	//					u_u_section:JSON.stringify($(this).html())
				},
				success: function(data) {
				if(data.status=='ok'){
				}else{
					alert(data.msg);
				}
				}
			})
			/*点击演练历史*/
			$("#yanlian").click(function(){
				$.ajax({
				type: "GET", //用POST方式传输
				url:'192.168.0.103:80' +'/index.php/beroung/Index/index', //目标地址
				dataType: "JSON", //数据格式:JSON
				data: {
						contains:JSON.stringify({}),
					    fields:JSON.stringify('y_id y_content y_createtime'),
					    limit:JSON.stringify('7'),
	//				    page:JSON.stringify(0),
	//				    desc:JSON.stringify('')
	//					u_u_section:JSON.stringify($(this).html())
				},
				success: function(data) {
				if(data.status=='ok'){
				}else{
					alert(data.msg);
				}
				}
			})
			})

		/*点击考核历史*/
			$("#kaohe").click(function(){
				$.ajax({
				type: "GET", //用POST方式传输
				url:'192.168.0.103:80' + '/hzxi/user/manoeuvre/', //目标地址
				dataType: "JSON", //数据格式:JSON
				data: {
						contains:JSON.stringify({}),
					   	fields:JSON.stringify('y_id y_content y_createtime'),
					    limit:JSON.stringify('7'),
	//				    page:JSON.stringify(0),
	//				    desc:JSON.stringify('')
	//					u_u_section:JSON.stringify($(this).html())
				},
				success: function(data) {
				if(data.status=='ok'){
				}else{
					alert(data.msg);
				}
				}
			})
			})


			/*点击培训历史*/
			$("#peixun").click(function(){
				$.ajax({
				type: "GET", //用POST方式传输
				url: '192.168.0.103:80' + '/hzxi/user/manoeuvre/', //目标地址
				dataType: "JSON", //数据格式:JSON
				data: {
						contains:JSON.stringify({}),
					    fields:JSON.stringify('y_id y_content y_createtime'),
					    limit:JSON.stringify('7'),
	//				    page:JSON.stringify(0),
	//				    desc:JSON.stringify('')
	//					u_u_section:JSON.stringify($(this).html())
				},
				success: function(data) {
				if(data.status=='ok'){
				}else{
					alert(data.msg);
				}
				}
			})
			})

		/*最新考核、作业、培训*/
		$.ajax({
			type: "GET", //用POST方式传输
			url:'192.168.0.103:80' + '/hzxi/incident/', //目标地址
			dataType: "JSON", //数据格式:JSON
	// 		data: {
	// 			contains:JSON.stringify({}),
	// 				   	fields:JSON.stringify('i_id y_content'),
	// 				    limit:JSON.stringify('7'),
	// //				    page:JSON.stringify(0),
	// //				    desc:JSON.stringify('')
	// 		},
			success: function(data) {
			if(data.status=='OK'){
			}else{
				alert(data.msg);
			}
			}
		})

			/*点击考核历史*/
			// $("#kaohe").click(function(){
			// 	$.ajax({
			// 	type: "GET", //用POST方式传输
			// 	url:http+'/index.php/beroung/Index/index', //目标地址
			// 	dataType: "JSON", //数据格式:JSON
			// 	data: {
			// 			contains:JSON.stringify({}),
			// 		   	fields:JSON.stringify('y_id y_content y_createtime'),
			// 		    limit:JSON.stringify('7'),
	//				    page:JSON.stringify(0),
	//				    desc:JSON.s
			
///*历史详情首次页面*/
//	$.ajax({
//			type: "GET", //用POST方式传输
//			url:http+'/index.php/beroung/Index/index', //目标地址
//			dataType: "JSON", //数据格式:JSON
//			data: {},
//			success: function(data) {
//			if(data.status==ok){	
//			}else{
//				alert(data.msg);
//			}
//			}
//		})
//
//	/*点击演练历史*/
//	
//
//
//	/*点击培训历史*/
//	
//
//	/*点击考核历史*/
//	
//
///*最新考核、作业、培训*/
//		$.ajax({
//			type: "GET", //用POST方式传输
//			url:http+'/index.php/beroung/Index/index', //目标地址
//			dataType: "JSON", //数据格式:JSON
//			data: {},
//			success: function(data) {
//			if(data.status==ok){	
//			}else{
//				alert(data.msg);
//			}
//			}
//		})
			
			
			$(".right-top p").click(function() {
	         	$(".right-top p").eq($(this).index()).addClass('cur').siblings().removeClass('cur');
	        	$(".right-zhong").hide().eq($(this).index()).show();
	       })
			$(".keleft .neirong p").click(function() {
	         	$(".keleft .neirong p").eq($(this).index()).addClass('cul').siblings().removeClass('cul');
	        	$("").hide().eq($(this).index()).show();
	       })

		</script>
	</body>
</html>
