<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/static/css/personal.css"/>
		<script src="/static/js/flexible.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<title>个人页面</title>
	</head>
	
	<body>
		<div class="top">
			<p><span id="name">郑富勇</span><a>注销</a></p>
		</div>
		<div class="zong">
			<div class="left">
				<p class="cur"><span>个人信息</span></p>
				<p><span>个人成绩</span></p>
				<p class="xinxi"><span>站内信息</span><i id="shuzi">3</i></p>
			</div>
			<div class="right">
				<div class="box on">
					<p><span class="xiao">用户名称：</span><input type="text" name="" id="u_id" value="1" /></p>
					<p><span class="xiao">用户性别：</span><input type="text" name="" id="u_sex" value="" /></p>
					<p><span class="xiao">用户年龄：</span><input type="text" name="" id="u_Gender" value="" /></p>
					<p><span class="xiao">用户工号：</span><input type="text" name="" id="u_gonghao" value="" /></p>
					<p><span class="xiao">用户职位：</span><input type="text" name="" id="u_position" value="" /></p>
					<p><span class="xiao">用户部门：</span><input type="text" name="" id="u_department" value="" /></p>
					<p><span>用户培训经历：</span><input type="text" name="" id="u_training" value="" /></p>
					<p><span>用户岗位经历：</span><input type="text" name="" id="u_post" value="" /></p>
					<p><span>用户家庭住址：</span><input type="text" name="" id="u_address" value="" /></p>
					<p><span>用户工作意愿：</span><input type="text" name="" id="u_willingness" value="" /></p>
					<p><span class="xiao">用户特长：</span><input type="text" name="" id="u_speciality" value="" /></p>
					
					<p><input type="button" id="xiugai" class="xiugai" value="修改信息" /></p>
				</div>
				<div class="box">
					<p>个人成绩</p>
				</div>
				<div class="box">
					<p>消息内容1</p>
					<p>消息内容2</p>
					<p>消息内容3</p>
					<p>消息内容4</p>
					<p>消息内容5</p>
					<p>消息内容6</p>
				</div>
			</div>
		</div>
		<div class="fabu">
			<h5>发布演练</h5>
			<div class="center">
				<p><span>演练标题：</span><input type="text" name="biaoti" id="" value="" /></p>
				<p><span>演练内容：</span><input type="text" name="neirong" id="" value="" /></p>
				<p><span>演练限时：</span><input type="text" name="xianshi" id="" value="" /></p>
				<p>提示：演练限时以分钟为单位</p>
				<input type="button" id="fabu" class="fabu2" value="发布演练" />
			</div>
		</div>
		<script type="text/javascript">
		/*获取信息*/
		// setInterval(function(){
//          host = window.location.host
//          $.post("http://"+host+"/index.php/Article/cpMes/value/1");
//             $.ajax({
// 				type: "GET", //用GET方式传输
// 				url:'/hzxi/user/news/', //目标地址
// 				dataType: "JSON", //数据格式:JSON
// 				data: {
// 					contions: JSON.stringify({'u_pid':localStorage.getItem('u_pid')}),
// 					u_pid: localStorage.getItem('u_pid')
// 				},
// 				success: function(data) {
// 				if(data.status == "OK") {
// 					$("#shuzi").css('display','block');
// 					alert("修改成功");
// 					$("#shuzi").html();
// 				} else {
// 					$("#shuzi").css('display','none');
// 					alert(data.msg);
// 				}
// 			}
// 		})
//
        // });
			/*渲览个人信息*/
				$(function foo(){
					$.ajax({
							type: "GET", //用GET方式传输
							url:'/hzxi/user/manoeuvration/', //目标地址
							dataType: "JSON", //数据格式:JSON
							data: {
								contions: JSON.stringify({'y_id': 1})
							},
							success: function(data) {
								if(data.status == "OK") {
								    for (var i=0; i<data.data.length;i++){
								        $("#name").html(data.data[i].u_name);
								        $("#u_id").val(data.data[i].u_name);
									$("#u_sex").val(data.data[i].u_sex);
									$("#u_Gender").val(data.data[i].u_age);
									$("#u_gonghao").val(data.data[i].u_pid);
									$("#u_position").val(data.data[i].u_post);
									$("#u_department").val(data.data[i].u_section);
									$("#u_training").val(data.data[i].u_trainlist);
									$("#u_post").val(data.data[i].u_joblistid);
									$("#u_address").val(data.data[i].u_home);
									$("#u_willingness").val(data.data[i].u_jobwill);
									$("#u_speciality").val(data.data[i].u_skill);
									}

								} else {
									alert(data.msg);
								}
							}
						})
				})
				
			/*点击修改信息*/
			$("#xiugai").click(function(){
				$.ajax({
						type: "UPDATE", //用GET方式传输
						url:'/hzxi/user/information/', //目标地址
						dataType: "JSON", //数据格式:JSON
						data: JSON.stringify({
							u_pid: localStorage.getItem('u_pid'),
							u_name:$("#u_id").val(),
							u_sex:$("#u_sex").val(),
							u_age:$("#u_Gender").val(),
							u_post:$("#u_position").val(),
							u_section:$("#u_department").val(),
							u_trainlist:$("#u_training").val(),
							u_joblistid:$("#u_post").val(),
							u_home:$("#u_address").val(),
							u_jobwill:$("#u_willingness").val(),
							u_skill:$("#u_speciality").val()
						}),
						success: function(data) {
							if(data.status == "OK") {
								alert("修改成功")
								// foo();
//								window.location.reload();
							} else {
								alert(data.msg);
							}
						}
					})
			})
			/*tab循环*/
			$(".left p").click(function() {
         			$(".left p").eq($(this).index()).addClass("cur").siblings().removeClass('cur');
         			localStorage.setItem("cat_id",$(this).attr('data'));
        			$(".box").hide().eq($(this).index()).show();
        			/*点击分类获取所属产品列表*/
    		});
    		/*发布演练*/
    		$("#fabu").click(function(){
    			$.ajax({
						type: "POST", //用GET方式传输
						url:'/hzxi/user/manoeuvration/', //目标地址
						dataType: "JSON", //数据格式:JSON
						data: JSON.stringify({
							y_name:$("#biaoti").val(),
							y_content:$("#neirong").val(),
							y_creator:localStorage.getItem('u_pid'),
							pidlist:[u_pid,01]
						}),
						success: function(data) {
							if(data.status == "OK") {
								alert("发布成功");
//								foo();
								window.location.reload();
							} else {
								alert(data.msg);
							}
						}
					})
    		})
		</script>
	</body>
</html>
