*{
	padding: 0;
	margin: 0;
	list-style: none;
}
.top{
	width: 100%;
}
.top .top_top{
	min-width: 1200px;
	width: 100%;
	background-color: #026eb7;
}
.top .top_top div{
	position: relative;
	width: 1200px;
	height: 50px;
	margin: 0 auto;
}
.top .top_top div p{
	float: left;
	margin-top: 10px;
	font-size: 14px;
	color: #fff;
	height: 30px;
	width: 100px;
	line-height: 30px;
}
.top .top_top div p:last-child{
	position: absolute;
	right: 0;
	width: 310px;
	background-color: #dddddd;
	height: 32px;
}
.top .top_top div p:last-child input{
	outline:none;
	margin-left: 2px;
	padding: 0;
	width: 250px;
	height: 29px;
	border: 0;
}
.top .top_top div p:last-child i{
	margin-left: 20px;
	color: #5e5e5e;
}

.top_conter{
	background: url(../img/22_02.jpg);
	width: 100%;
	height: 150px;
	min-width: 1200px;
}
.top_conter .tupian{
	width: 100%;
	min-width: 1200px;
}
.top_conter .tupian img{
	width: 100%;
	height: 150px;
}
.top_conter .biaoti{
	margin: 0 auto;
	width: 1200px;
}
.top_conter .biaoti img{
	margin-top: 18px;
}
.top_conter .wenzi{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.top_conter .wenzi p{
	margin-top: 10px;
	font-weight: bold;
	font-size: 27px;
	color: #fff;
	font-family: "微软雅黑";
}

.top_dibu{
	width: 100%;
	min-width: 1200px;
	
	background-color: #0072b7;
}
.top_dibu .nav{
	width: 1200px;
	margin: 0 auto;
}
.top_dibu .nav p{
	text-align: center;
	height: 50px;
	line-height: 50px;
	float: left;
	width: 171px;
	color: #fff;
}
.top_dibu .nav p a{
	color: #fff;
	text-decoration: none;
}
.top_dibu .nav .cur{
	background: url(../img/sanjiao_03.png)bottom center no-repeat;
}
/*center-history*/
.center{
	width: 1200px;
	margin: 10px auto;
}
.center .center_top{
	height: 40px;
	text-align: center;
}
.center .center_top p{
	margin-left: 25px;
	background-color: #A9A9A9;
	border-radius: 10px;
	line-height: 40px;
	width: 550px;
	float: left;
}
.center .center_top .xuan{
	background-color: #0086B3;
	color: #fff;
}
.center .center_center{
	display: none;
	margin-top: 20px;
	width: 1200px;
	border: 1px solid #ccc;
	border-radius: 10px;
}
.center .center_center.on{
	display: block;
}
.center .center_center .history{
	width: 1180px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}
.center .center_center .history .tupian img{
	width: 50px;
}
.center .center_center .history div{
	margin-right: 16px;
	float: left;
}
.center .center_center .history div:last-child{
	margin-right: 0;
	border-bottom: 1px solid #ccc;
}
.center .center_center .history div h5 .mingzi{
	color: #0000FF;
}
.center .center_center .history div p{
	margin-top: 10px;
	width: 1114px;
}
.center .center_center .history div .biaoti{
	margin-top: 0;
	font-size: 15px;
	font-weight: bold;
	color: #656590;
}
/*center-release*/
.center .center_center .department{
	width: 1100px;
	margin: 0 auto;
}
.center .center_center .department .ke{
	background-color: #026EB7;
	color: #fff;
}
.center .center_center .department p{
	margin-top: 10px;
	text-align: center;
	margin-left: 5px;
	width: 95px;
	background-color: #A9A9A9;
	border-radius: 5px;
	float: left;
}
.center .center_center .staff{
	
	width: 1090px;
	margin: 20px auto;
}
.center .center_center .staff .xuanxiang{
	margin: 0 auto;
	width: 1100px;
}
.center .center_center .staff .xuanxiang p{
	text-align: center;
	width: 95px;
	margin-left: 5px;
	float: left;
}
.center .center_center .release{
	text-align: center;
	width: 1100px;
	margin: 0 auto;
}
.center .center_center .release p{
	height: 35px;
	line-height: 35px;
}
.center .center_center .release input{
	outline:none;
	border: 0;
	border-bottom: 1px solid #ccc;
	height: 30px;
	width: 93%;
}
.center .center_center .release .fabu{
	margin: 20px auto;
	width: 800px;
	height: 40px;
	background-color: #55A532;
	color: #fff;
	border: 0;
	border-radius: 10px;
}
.upload{
	text-align: center;
}
/*登录弹窗*/
	.zhezhao{
		text-align: center;
		background-color: rgba(0,0,0,0.4);
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		z-index: 999999;
		display: none;
	}
	.tanchuang{
		width: 700px;
		height: 400px;
		margin: 10% auto;
		background-color: #fff;
	}
	.tanchuang .nav{
		text-align: ccenter
	}
	.tanchuang .nav p{
		
		position: relative;
		color: #666666;
		font-size: 16px;
		height: 40px;
		line-height: 40px;
		background-color: #ccc;
		width: 350px;
		float: left;
	}
	.tanchuang .nav .cor{
		background-color: #008800;
		color: #fff;
	}
	.tanchuang .nav p .icon-fork{
		height: 30px;
		padding-left: 5px;
		font-size: 12px;
		position: absolute;
		right:4px;
		top:-8px;
	}
	.tanchuang .nav p .icon-fork:hover{
		color: #000;
	}
	/*登录*/
	.tanchuang .drbox h5{
		font-size: 15px;
		font-weight: bold;	
		color: #000;
		height: 50px;
		line-height: 50px;
	}
	.tanchuang .drbox p{
		border: 1px solid #ccc;
		height: 50px;
		line-height: 50px;
		margin: 0 auto;
		width: 500px;
		margin-bottom: 10px;
	}
	.tanchuang .drbox p input{
		font-size: 12px;
		width: 490px;
		height: 46px;
		outline:none;
		border: 0;
	}
	.tanchuang .drbox #btn{
		border: 0;
		margin-top: 20px;
		color: #fff;
		font-size: 15px;
		width: 500px;
		height: 50px;
		background-color: #008800;
	}
	.tanchuang .drbox .dib{
		position: relative;
		border: 0;
	}
	.tanchuang .drbox .dib .wj{
		position: absolute;
		left: 0;
	}
	.tanchuang .drbox .dib .zc{
		position: absolute;
		right: 0;
	}
	.tanchuang .xbox{
		display: none;
	}
	.tanchuang .on{
		display: block;
	}
	/*注册*/
	.tanchuang .zcbox{
		
	}
	.tanchuang .zcbox h5{
		font-weight: bold;
		color: #000000;
		height: 30px;
		line-height: 30px;
	}
	.tanchuang .zcbox p input{
		font-size: 12px;
		height: 29px;
		border: 0;
	}
	.tanchuang .zcbox p{
		position: relative;
		line-height: 40px;
		border: 1px solid #ccc;
		margin: 0 auto;
		width: 500px;
		height: 40px;
		margin-bottom: 10px;
	}
	.tanchuang .zcbox p #huhoqu{
		position: absolute;
		right: 0;
		top: 5px;
		color: #ccc;
	}
	.tanchuang .zcbox #lijizc{
		height: 40px;
		border: 0;
		width: 500px;
		margin: 0 auto;
		background-color: #008800;
		color: #fff;
	}
	.tuisong{
		position: fixed;
		right: 0;
		bottom: 0;
		width: 200px;
		height: 100px;
		background-color: #9D9D9D;
	}
