*{
	padding: 0;
	margin: 0;
	list-style: none;
}
.top{
	width: 100%;
}
.top .top_top{
	min-width: 1200px;
	width: 100%;
	background-color: #026eb7;
}
.top .top_top div{
	position: relative;
	width: 1200px;
	height: 50px;
	margin: 0 auto;
}
.top .top_top div p{
	float: left;
	margin-top: 10px;
	font-size: 14px;
	color: #fff;
	height: 30px;
	line-height: 30px;
}
.top .top_top div p:last-child{
	position: absolute;
	right: 0;
	width: 310px;
	background-color: #dddddd;
	height: 32px;
}
.top .top_top div p:last-child input{
	outline:none;
	margin-left: 2px;
	padding: 0;
	width: 250px;
	height: 29px;
	border: 0;
}
.top .top_top div p:last-child i{
	margin-left: 20px;
	color: #5e5e5e;
}

.top_conter{
	background: url(../img/22_02.jpg);
	width: 100%;
	height: 150px;
	min-width: 1200px;
}
.top_conter .tupian{
	width: 100%;
	min-width: 1200px;
}
.top_conter .tupian img{
	width: 100%;
	height: 150px;
}
.top_conter .biaoti{
	margin: 0 auto;
	width: 1200px;
}
.top_conter .biaoti img{
	margin-top: 18px;
}
.top_conter .wenzi{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.top_conter .wenzi p{
	margin-top: 10px;
	font-weight: bold;
	font-size: 27px;
	color: #fff;
	font-family: "微软雅黑";
}

.top_dibu{
	width: 100%;
	min-width: 1200px;
	
	background-color: #0072b7;
}
.top_dibu .nav{
	width: 1200px;
	margin: 0 auto;
}
.top_dibu .nav p{
	text-align: center;
	height: 50px;
	line-height: 50px;
	float: left;
	width: 171px;
	color: #fff;
}
.top_dibu .nav p a{
	color: #fff;
	text-decoration: none;
}
.top_dibu .nav .cur{
	background: url(../img/sanjiao_03.png)bottom center no-repeat;
}

/*内容*/
.center{
	margin: 24px auto;
	width: 1200px;
}
.center_top {
	display: inline-block;
}
.center_top div{
	float: left;
}
.center_top .left{
	width: 360px;
}
.center_top .left h5{
	position: relative;
	font-size: 19px;
	color: #0072b7;
	height: 35px;
	line-height: 35px;
	border-bottom: 2px solid  #dcdcdc;
}
.center_top .left h5 img{
	margin-right: 20px;
	vertical-align: middle;
}
.center_top .left h5 span{
	position: absolute;
	right: 0;
	color: #a9a9a9;
	font-size: 10px;
	font-weight: normal;
}
.center_top .left .biaotou{
	margin-top: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 30px;
	display: inline-block;
	background-color: #0072B7;
	text-align: center;
}
.center_top .left .biaotou p{
	line-height: 30px;
	color: #fff;
	width: 179.5px;
	float: left;
}
.center_top .left .biaotou p:first-child{
	border-right: 1px solid #fff;
}
.center_top .left .keshi{
	display: inline-block;
}
.center_top .left .keshi .fl{
	overflow: hidden;
	height: 270px;
	text-align: center;
	width: 179px;
	float: left;
}
.center_top .left .keshi .fl .neirong{
	width: 209.5px;
	height: 270px;
	overflow-y: auto;
}
.center_top .left .keshi .xingmin{
	margin-left: 2px;
}
.center_top .left .keshi .xingmin .neirong{
	border-left: 1px solid #fff;
}
.center_top .left .keshi .keleft .neirong .cul{
	background: url(../img/zoujian_03.png)right no-repeat;
	background-position-x: 173px;
	background-color: #0086B3;
}
.center_top .left .keshi .fl .neirong p{
	color: #fff;
	width: 179.5px;
	margin-bottom: 10px;
	background-color: #0086B3;
	height: 30px;
	line-height: 30px;
}
.center_top .right{
	height: 300px;
	margin-top: 57px;
	margin-left: 40px;
	width: 798px;
	border: 1px solid #ccc;
	border-top: 0;
}
.center_top .right .right-top{
	text-align: center;
	display: inline-block;
}
.center_top .right .right-top p{
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	background-color: #e5e5e5;
	color: #686868;
	float: left;
	width: 260px;
} 
.center_top .right .right-top .cur{
	background-color: #0072b7;
	color: #fff;
}
.center_top .right .right-top p:nth-last-child(2){
	margin-left: 9px;
	margin-right: 9px;
}
.center_top .right .right-zhong p{
	width: 754px;
	font-size: 14px;
	height: 33px;
	line-height: 33px;
}
.center_top .right .right-zhong{
	position: relative;
}
.center_top .right .right-zhong p span{
	position: absolute;
	right: 0;
}
.center_top .right .right-zhong.on{
	display: block;
}
.center_top .right .right-zhong{
	display: none;
	margin-top: 20px;
	margin-left: 18px;
}
.center_top .right .right-zhong p img{
	vertical-align: middle;
	margin-right: 20px;
}


.center-center {
	margin-top: 40px;
	display: inline-block;
}
.center-center div{
	float: left;
}
.center-center .left{
	width: 360px;
	height: 300px;
}
.center-center .left h5{
	position: relative;
	font-size: 19px;
	color: #0072b7;
	height: 35px;
	line-height: 35px;
	border-bottom: 2px solid  #dcdcdc;
}
.center-center .left h5 img{
	margin-right: 20px;
	vertical-align: middle;
}
.center-center .left h5 span{
	position: absolute;
	right: 0;
	color: #a9a9a9;
	font-size: 10px;
	font-weight: normal;
}
.center-center .left .left-center p{
	text-align: center;
	margin-top: 20px;
	float: left;
	width: 179.5px;
	height: 150px;
	position: relative;
}
.center-center .left .left-center p span{
	position: absolute;
	top: 0;
}
.center-center .left .left-center p img{
	margin-left: 15px;
}
.center-center .right{
	margin-left: 40px;
	width: 800px;
	height: 300px;
}
.center-center .right h5{
	position: relative;
	font-size: 19px;
	color: #0072b7;
	height: 35px;
	line-height: 35px;
	border-bottom: 2px solid  #dcdcdc;
}
.center-center .right h5 img{
	margin-right: 20px;
	vertical-align: middle;
}
.center-center .right h5 span{
	position: absolute;
	right: 0;
	color: #a9a9a9;
	font-size: 10px;
	font-weight: normal;
}
.center-center .right .right-center p{
	width: 754px;
	font-size: 14px;
	height: 38px;
	line-height: 38px;
}
.center-center .right .right-center{
	margin-top: 20px;
	margin-left: 18px;
}
.center-center .right .right-center p img{
	vertical-align: middle;
	margin-right: 20px;
}
.center-center .right .right-center{
	position: relative;
}
.center-center .right .right-center p span{
	position: absolute;
	right: 0;
}


.center-footer {
	margin-top: 70px;
	display: inline-block;
}
.center-footer .center-footer-box h5{
	width: 1200px;
	position: relative;
	font-size: 19px;
	color: #0072b7;
	height: 35px;
	line-height: 35px;
	border-bottom: 2px solid  #dcdcdc;
}
.center-footer .center-footer-box h5 img{
	margin-right: 20px;
	vertical-align: middle;
}
.center-footer .center-footer-box h5 span{
	position: absolute;
	right: 0;
	color: #a9a9a9;
	font-size: 10px;
	font-weight: normal;
}
.center-footer .center-footer-box2{
	display: inline-block;
	width: 1200px;
}
.center-footer .center-footer-box2 div{
	text-align: center;
	margin-top: 20px;
	float: left;
	width: 120px;
}
